# Minecraft world data
world/
world/stats/
world_nether/
witp/
libraries/
libs/
cache/
logs/
versions/
plugins/.paper-remapped
playerdata/
backups/
backup/
stats/
leaderboards/

# data
**/cache/
db/
data/
userdata/

# Server properties and configurations (if you want to exclude them)
banned-players.json
banned-ips.json
ops.json
whitelist.json
usercache.json
session.lock

# Plugin data (optional - if you don't want plugin configs tracked)
plugins/**/data/
plugins/**/logs/
*.playerskin

# Logs and crash reports
logs/
debug.log
crash-reports/

# Temporary files
*.tmp
*.bak
*.swp

# Java-related files (if running a custom Java setup)
*.class
*.war
*.ear

# IDE specific files (in case you're editing with IDEs)
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Backup files
*.zip
*.tar.gz
backups/
plugins/DiscordSRV/config.yml
purpur-1.21.4-2388.jar
plugins/SkinsRestorer/recommendations.json
plugins/CMILib/Translations/Locale_EN.yml
plugins/GadgetsMenu/database.db
plugins/AnimatedScoreboard/playerdata-sqlite.db
lobby/death-chests.yml
plugins/ProtocolLib/lastupdate
plugins/Multiverse-Core/worlds.yml
plugins/LuckPerms/translations/repository/status.json
plugins/Jobs/jobs.sqlite.db

# Re-include the "regions" folder
!plugins/**/worlds/**/**